.completepackages-container {
    display: flex;
    gap: 50px;
    justify-content: center;

    padding: 20px;
    flex-wrap: wrap;
}

.completepackages {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    justify-content: space-between;
    border: 2px solid black;
    position: relative;
}

.completepackages-imagen {
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}



.completepackages-text {
    padding: 15px;
    text-align: left;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    flex-grow: 1;
}

.completepackages-text img {
    width: 80%;
}

.completepackages-titulo {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 7px;
    color: #000000;
}

.completepackages-descripcion {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0;
}


.completepackages-icon {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.completepackages-icon svg {
    width: 100%;
    height: 100px;
}

.completepackages-detalles {
    list-style: '⭐';
    margin-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.complete-complete {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.completepackages-title{
    font-size: 2.5rem;
    width: 30%;
    color: var(--blue-color);
    line-height: 1.2;
}

.completepackages-button{
    color: white;
    padding: 5px 20px 9px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.completepackages-button:hover{
    transform: scale(1.1);
}

.completepackages-price{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
}

@media(max-width: 700px) {
   
    .completepackages {
        width: 90%;
    }

    .completepackages-title{
        width: 90%;
        margin: 20px 0;
    }
}