.contact-section-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.contact-section {
    width: 100%;
    min-height: 300px;
    display: flex;
    border-radius: 10px;
    background-image: url('/topimg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.contact-section-spinner {
    width: 100%;
    min-height: 300px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.contact-section-spinner h1 {
    font-size: 6rem;
    font-family: 'Newsreader', serif;
    font-weight: 500;
    color: #F2ECEC;
    text-shadow: 2px 2px 3px black;
    margin-top: 15px;
    margin: 0;
}

.contact-section-spinner h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #F2ECEC;
    text-shadow: 1px 1px 2px black;
    font-family: 'Newsreader', serif;
}


.contact-section h1 {
    font-size: 6rem;
    font-family: 'Newsreader', serif;
    font-weight: 500;
    color: #F2ECEC;
    text-shadow: 2px 2px 3px black;
    margin-top: 15px;
    margin: 0;
}

.contact-section h2 {
    font-size: 1.6rem;
    margin: 0;
    color: #F2ECEC;
    text-shadow: 1px 1px 2px black;
    font-family: 'Newsreader', serif;
}

.contact-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}

@media(max-width: 700px) {
    .contact-section h1 {
        font-size: 2.5rem;
    }

    .contact-section h2 {
        font-size: 1rem;
    }

    .contact-section-spinner h1 {
        font-size: 2.5rem;
    }

    .contact-section-spinner h2 {
        font-size: 1rem;
    }

    .contact-section-container {
        padding: 15px 0;
    }

}