.contact-area-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contact-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-img{
    width: 100px;
}

.contact-area-section{
    display: flex;
    align-items: center;
    padding: 10px;
}

.contact-area-section h2{
    font-size: 1.8rem;
}