.contact-section-container {
    display: flex;
}

.contact-section {
    min-height: 300px;
    display: flex;
}

.contact-section-spinner {
    width: 100%;
    min-height: 300px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}


.contact-section-spinner h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #616161;
    font-family: 'Newsreader', serif;
}


.contact-section h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #FF4081;
    margin-top: 15px;
    margin: 0;
}

.contact-section h2 {
    font-size: 1.6rem;
    margin: 0;
    color: #616161;
    transition: color 0.3s ease;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #616161;
}

.contact-content h2:hover{
    color: #FF7043;
}

@media(max-width: 700px) {
    .contact-section{
        min-height: auto;
    }
    .contact-section h1 {
        font-size: 2.5rem;
    }

    .contact-section h2 {
        font-size: 1rem;
    }

    .contact-section-spinner h1 {
        font-size: 2.5rem;
    }

    .contact-section-spinner h2 {
        font-size: 1rem;
    }

    .contact-section-container {
        padding: 15px 0;
    }

}