.footer{
    margin-top: 100px;
    padding: 15px 0 5px;
    background-color: var(--rose-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info{
    max-width: 1080px;
    padding-bottom: 10px;
    
}

.footer-info p{
    font-size: 1.2rem;
}

.footer-info table{
    display: flex;
    justify-content: end;
    border-spacing: 20px 0;
    font-size: 1.6rem;
}