.footer {
    margin-top: 50px;
    color: #333;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
}

.footer::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px; 
    background-color: #ccc; 
    position: absolute;
    top: 0; 
    left: 25%; 
}


.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copy {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
