.footer {
    margin-top: 50px;
    color: #333;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    margin-top: 200px;
}

.footer::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px; 
    background-color: #ccc; 
    position: absolute;
    top: 0; 
    left: 25%; 
}






.footer-copy p{
    font-size: 1.2rem;
    color: #555;
}

.footer-copy p a{
    font-size: 1.2rem;
    cursor: pointer;
    color: #87ceeb;
    transition: color 0.3s ease;
}

.footer-copy p a:hover {
    color: #f350ff; 
    text-decoration: underline;
}
