.header {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: color 0.3s ease;

}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: background 1s ease, opacity 0.5s ease;

}

.header.scrolled::before {
    background-color: #e3e3e3;
    opacity: 0.6;
    backdrop-filter: blur(5px);
}


.header-spacer {
    height: 85px;
}

.logo-name {
    width: 200px;
}

.logo-img {
    width: 100px;
}

.logo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 0;
}

.menu-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Fija el centro */
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.header p {
    font-size: 1.5rem;
}

.header ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.header ul li:hover {
    color: #ff0808;
}

.header a {
    font-size: 1rem;
}

.header button {
    flex: 0;
    white-space: nowrap;
}

.order-button:hover {
    transform: scale(1.1);
}

.dropdown {
    display: none;
}

.header-social-media{
    display: flex;
    gap: 40px;
}

.header-social-media a{
    all: unset;
    cursor: pointer;
}

@media(max-width: 700px) {
    .header {
        justify-content: space-between;
        align-items: center;
        position: static;
        padding: 5px 20px;
        margin-bottom: 50px;
        background-color: #E6E6FA;
        border-radius: 5px;
    }

    .logo-img {
        width: 80px;
    }

    .menu-header {
        display: none;
        padding: 0;
        margin: 0;
    }

    .header ul li {
        text-align: center;
    }

    .order-button {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown ul {
        list-style: none;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
        background-color: #72a2e0;
        padding: 10px;
        width: 50%;
    }

    .dropdown:hover ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        opacity: 0;
        transform: translateX(200%);
        animation: aparecer .5s ease-out forwards;
    }

    .dropdown ul li:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    .dropdown ul li {
        padding: 10px;
        color: white;
        margin-top: 10px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-button {
        border: none;
        cursor: pointer;
    }

    .header.scrolled::before {

        position: static;
        opacity: 1;
        backdrop-filter: none;
        background: #F8BBD0;
    }

    .header-spacer {
        height: 0;
    }

    .header::before {
        content: none;
        position: static;
    }

    .header .Button {
        display: none;
    }

    @keyframes aparecer {
        from {
            opacity: 0;
            transform: translateX(200%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }



}