.main-nav-img{
    width: 65%;
    height: 490px;
    background-image: url("/Ninos-jugando-fiesta-infantil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-nav-img-text{
    padding: 7px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}
.main-nav-img-text h2{
    font-size: 6rem;
    font-weight: bold;
    color: white;
    text-shadow: 6px 6px 0 rgb(139, 0, 69);
}

.main-nav-container{
    display: flex;
    gap: 40px;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.main-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main-nav-list{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: transform .3s ease;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.main-nav-list:hover{
    transform: scale(1.05);
}

.main-nav-list h2{
    font-size: 1.8rem;
}
.main-nav-list p{
    font-size: 1rem;
}

@media(max-width: 1000px) {
    .main-nav-container{
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }

    .main-nav-img{
        width: 100%;
        height: 300px;

        
    }

    .main-nav-list{
        width: auto;
        padding: 20px;
        
    }

    .main-nav-img-text h2{
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .main-nav-img-text h2{
        font-size: 2rem;
    }
    
}