.map-container{
    display: flex;
    width: 100%;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.iframe-map{
    border: 0;
    width: 600px;
    height: 450px;    
}

@media(max-width: 700px) {
    .map{
        background-image: none;
        padding: 0;
        width: 100%;
    }

    .iframe-map{
        width: 100%;
    }
}