.profile-card-container{
    padding: 70px;
}

.profile-card{
    display: flex;
}
.profile-picture{
    width: 200px;
}

.profile-description{
    
    display: flex;
    flex-direction: column;
    padding: 35px;
    
}

.profile-description h1,
.profile-description h2,
.profile-description p,
.profile-description span{
    padding: 0;
    gap: 0;
    margin: 0;
}

.profile-description h2{
    font-size: 2.3rem;
    color: #81D4FA;
}

.profile-description p{
    font-size: 1.3rem;
    color: #616161;
}

.profile-description span{
    font-size: 1.3rem;
    color: #bd0094;
    font-weight: bold;
}