.profile-card-container{
    padding: 70px;
}

.profile-card{
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 300px;
    height: auto; 
    
}

.profile-description{
    
    display: flex;
    flex-direction: column;
    padding: 35px;
    
}

.profile-description h1,
.profile-description h2,
.profile-description p,
.profile-description span{
    padding: 0;
    gap: 0;
    margin: 0;
}

.profile-description h2{
    font-size: 2.3rem;
    color: #81D4FA;
}

.profile-description p{
    font-size: 1.3rem;
    color: #616161;
}

.profile-description span{
    font-size: 1.3rem;
    color: #bd0094;
    font-weight: bold;
}

@media(max-width: 700px){
    .profile-card-container{
        padding: 0;
    }

    .profile-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-description{
        padding: 10px;
    }

    .profile-picture{
        width: 150px;
        height: 150px;
    }
}