.whatsapp-button{
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 60px;
    
}

.whatsapp-button img{
    width: 100px;
    transition: transform 0.3s ease;
}

.whatsapp-button img:hover {
    transform: scale(1.1);
  }