@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap");

@import "./css/Header.css";
@import "./css/ContactSection.css";
@import "./css/CardList.css";
@import "./css/Footer.css";
@import "./css/Map.css";
@import "./css/WhatsappButton.css";

/*Aqui van los globals, es decir, los diseños generales de toda la pagina*/
* {
  /*Tamaño general de todos los textos*/
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}


.principal {
  /*1rem significa que será el tamaño general por el numero de la izquierda, en este caso será 1 * 16px*/
  font-size: 1rem;
}

button {
  all: unset;
}

.Button {
  background: #e46060;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
